* {
    box-sizing: border-box;
}
/*--背景圖片設定--*/
div.background {
    background: url(picture/0134.jpg) ;
    border: 2px solid black;
}

div.transbox {
    margin: 150px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.5;
}

div.transbox p {
    margin: 10%;
    font-weight: bold;
    color: #000000;
}
/*--背景圖片設定完成--*/